/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body, div, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  text-decoration: none
}


#main {
  margin: 20px;
  float:left;
  position: relative;
}

#sidebar-right {
  float: right;
}

ul {
  list-style-type: none;
  padding: 5px;
}

ul.board-list {
  display: inline;
  float: left;
  margin: 10px;
  width: 300px
}

li.list-item {
  display: block;
  width: 250px;
  height: 150px;
  margin: auto
}

.board {
  padding: 20px
}

form.new-board {
  position: relative;
  padding: 20px;
  width: 500px;
}

button.new-board {
  width: 100px;
  margin: 10px 20px;
}
